/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/



.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

:root .theme_dark {
  --accent-color: rgb(255, 0, 112);
  --light-text-color: #F1B2CE;
  --dark-text-color: #000028;
  --accent-title-color: rgb(255, 0, 112);
  --main-header-color: #DB00FF;
  --shadow-color: rgb(255, 0, 112);
  --buttons-n-corners: rgb(255, 0, 112);
  --opacity-half-button: 255, 0, 112;
  --main-font: 'IBM Plex Mono', sans-serif;
  --background-picture: url(../images/cover-image-dark.png);
}

.theme-dark .decor {
  display: block;
}